---
layout: page
permalink: /categories/
title: Categorías
---

<section class="categories">
  <div class="container" style="background-color: #ffffff99;">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h4 class="mt-4 font-weight-bold">
          <label title="Sueño de Kyoto, sueño de Osaka">
            京の夢大阪の夢
          </label>
        </h4>
      </div>
    </div>
    <div class="row justify-content-center">
      {% assign sortedCategories = site.categories | sort %}
      {% for category in sortedCategories %}
        <div class="col-4">
          {% capture category_name %}{{ category | first }}{% endcapture %}
          <div id="#{{ category_name | slugize }}"></div>
          
          <h3 class="category-head" style="text-align: center;">{{ category_name }}</h3>
          <a name="{{ category_name | slugize }}"></a>
          
          <ul class="list-posts-container">
            {% for post in site.categories[category_name] %}
            <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

