version: '3'
services:
  web:
    build: .
    image: githubpageblogtokiotacom
    ports:
        - "4000:4000" 
    volumes:
      - .:/app
    working_dir: /app
    # command: "sh"
    # stdin_open: true
    # tty: true
    #command: >
    #   sh -c 'bundle install &&
    #          bundle exec jekyll serve --host 0.0.0.0 -w --drafts --force_polling --config "_config.yml,_config_dev.yml"'
    command: >
      sh -c 'bundle exec jekyll serve --host 0.0.0.0 -w --force_polling --config "_config.yml,_config_dev.yml"'
