---
layout: default
title: Home
---

{% for post in paginator.posts %}
  <article class="entry">
    <div class="entry-header">
      <figure class="entry-thumb">
        <img src="{{ post.featured_image }}" alt="Imagen portada del artículo">
      </figure>
      <header class="entry-content-titlle">
        <h4 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <div class="entry-meta">
          <span class="post-date">{% include code_date.html date=post.date %}</span>
          <br>por <span class="post-author-name">{{ post.author.name }}</span>
        </div>
      </header>
    </div>
    <div class="entry-content">
      <p>{{ post.summary }}
        Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados en casas de letras, en la costa de la semántica, un gran océano de lenguas. Un riachuelo llamado Pons fluye por su pueblo y los abastece con las normas necesarias. Hablamos de un país paraisomático en el que a uno le caen pedazos de frases asadas en la boca.
      </p>
      <a href="{{ post.url }}" class="myButton">Leer más &rsaquo;&rsaquo; </a>
    </div>
  </article>
{% endfor %}


<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">&laquo; Nuevos</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">&laquo; Nuevos</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">&laquo; Nuevos</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Antiguos &raquo;</a>
  {% else %}
    <span class="pagination-item older">Antiguos &raquo;</span>
  {% endif %}
</div>