<!-- Footer -->
<div class="footer-container">
  {% if site.twitter %}
  <div class="footer-container-items">
    <a href="https://www.twitter.com/{{ site.twitter }}" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  {% endif %}
  {% if site.facebook %}
  <div class="footer-container-items">
    <a href="{{ site.facebook }}" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  {% endif %}
  {% if site.profile_linkedin %}
  <div class="footer-container-items">
    <a href="{{ site.profile_linkedin }} " target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  {% endif %}
  {% if site.youtube %}
  <div class="footer-container-items">
    <a href="{{ site.youtube }}" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  {% endif %}
  {% if site.instagram %}
  <div class="footer-container-items">
    <a href="{{ site.instagram }}" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  {% endif %}
  {% if site.profile_github %}
  <div class="footer-container-items">
    <a href="{{ site.profile_github }}" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  {% endif %}
</div>

<p class="copyright text-muted">Copyright &copy; {{ site.author.name }} {{ 'now' | date: "%Y" }}</p>
