<a href="/"><img alt="Tokiota Blog" src="/public/img/header_image_text.png"/></a>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 style="color:#ffffff">
                Con este blog queremos transmitir la pasión que todo Tokiota tiene por la tecnología, la innovación y el compartir esas iniciativas con todo el mundo.
                <br>Gracias por leernos y síguenos en nuestras redes sociales.
                <br>ありがとう。
            </h3>
        </div>
    </div>
</div>
