{% comment %} 
# Parameter input:
- customTitle
- fullUrl
{% endcomment %}
<div id="share-bar">
  <div class="share-buttons">
    <a href="https://twitter.com/intent/tweet?text={{ include.customTitle }}&url={{ include.fullUrl }}" rel="nofollow" target="_blank" title="Tweet"><i class="fa fa-twitter share-button"></i></a>
    <a href="https://facebook.com/sharer.php?u={{ include.fullUrl }}" rel="nofollow" title="Compartir en Facebook" target="_blank"><i class="fa fa-facebook-official share-button"></i></a>
    <a href="https://api.whatsapp.com/send?text={{ include.customTitle }} {{ include.fullUrl }}" rel="nofollow noopener noreferrer" target="_blank" title="Compartir en WhatsApp"><i class="fa fa-whatsapp share-button"></i></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ include.fullUrl }}&title={{ include.customTitle }}" rel="nofollow" target="_blank" title="Compartir en LinkedIn"><i class="fa fa-linkedin share-button"></i></a>
    <a href="http://www.reddit.com/submit?url={{ include.fullUrl }}&title={{ include.customTitle }}" rel="nofollow" target="_blank" title="Compartir en Reddit"><i class="fa fa-reddit-alien share-button"></i></a>
    <a href="mailto:?subject={{ include.customTitle }}&body={{ include.fullUrl }}" rel="nofollow" target="_blank" title="Enviar email"><i class="fa fa-envelope share-button"></i></a>
  </div>
</div>