<section class="sidebar-section">
  <h3>Categorías</h3>
  <div id="archives">
    {% assign sortedCategories = site.categories | sort %}
    {% for category in sortedCategories %}
      <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <p></p>
        <a href="/categories/#{{ category_name }}">{{ category_name }} ({{ site.categories[category_name].size }})</a>      
      </div>
    {% endfor %}
  </div>
</section>


{% if page.layout == 'post' %}
<div class="sidebar-section">
  {% include last_posts.html %}
</div>
{% endif %}
