<section class="sidebar-main">
  <div class="row mb-sm-3 mb-md-0">
    <div class="sidebar-section text-center col-12">
      <h3 class="mb-1 mb-md-3">Categorías</h3>
      <div id="archives">
        {% assign sortedCategories = site.categories | sort %}
        {% for category in sortedCategories %}
          <div class="archive-group">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <a class="mb-0 mb-sm-3" href="/categories/#{{ category_name }}">{{ category_name }} <small>[{{ site.categories[category_name].size }}]</small></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>