<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    {% include cookie-consent.html %}
    <div class="grid-container">
      <header class="header">
        {% include header.html %}
      </header>

      <div class="containerMain">
        <main class="main">
          {{ content }}
        </main>
      
        <div class="sidebar sidebar-right">
          {% include sidebar_right.html %}
        </div>
      </div>
      
      <footer class="footer">
        {% include footer.html %}
      </footer>

    </div>
    
  </body>  
  
</html>
