---
layout: default

---

<section class="post p-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h1 class="post-title mb-4">{{ page.title }}</h1>
      </div>

      <div class="col-12 post-body mb-5">
        <div class="row">
          {{ content }}
        </div>
      </div>
        
      <div class="col-6 bgGreyLight">
        {% include info_author.html %}
      </div>        
      <div class="col-6 bgGreyMedium d-flex align-items-center">
        <div>
          <h6>
            <strong>
              Compartelo por:
            </strong>
          </h6>
          <p>
            {% assign customTitle = page.title | append: ' by @' | append: site.twitter %}
            {% assign fullUrl = site.url | append: page.url %}
            {% include post_share_section.html 
              customTitle=customTitle
              fullUrl=fullUrl
            %}
          </p>
        </div>
      </div>  
    </div>
  </div>
</section>


 
<!-- EnlighterJS -->
<!-- Init Code -->
<script type="text/javascript">
  // - highlight all pre + code tags (CSS3 selectors)
  // - use javascript as default language
  // - use theme "enlighter" as default theme
  // - replace tabs with 2 spaces
  EnlighterJS.init('pre','code', {
          language : 'csharp',
          theme: 'godzilla',
          indent : 2,
          textOverflow: 'scroll'
          
  });
</script>
