---
layout: default

---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-author">por <a href="#infoAuthor">{{ page.author.name }}</a></span>
  <span class="post-date">{% include code_date.html date=page.date %} &#903; {% include read_time.html %}</span>
  
  <hr>
  {{ content }}
</div>

<hr style="border-color: #eee;"/>

<h4>Escrito por:</h4>
{% include info_author.html %}


<hr style="border-color: #eee;"/>
<h4>Comparte esto:</h4>

{% assign customTitle = page.title | append: ' by @' | append: site.twitter %}
{% assign fullUrl = site.url | append: page.url %}
{% include post_share_section.html 
  customTitle=customTitle
  fullUrl=fullUrl
%}




 
<!-- EnlighterJS -->
<!-- Init Code -->
<script type="text/javascript">
  // - highlight all pre + code tags (CSS3 selectors)
  // - use javascript as default language
  // - use theme "enlighter" as default theme
  // - replace tabs with 2 spaces
  EnlighterJS.init('pre','code', {
          language : 'csharp',
          theme: 'godzilla',
          indent : 2,
          textOverflow: 'scroll'
          
  });
</script>
